body {
    margin: 0px;
    font-family: "微软雅黑";
    font-size: 14px;
    background-color: #efefef;
    color: #333;
}
img {
    border-width: 0;
}
a {
    color: #184552;
    text-decoration: none;
}
a:visited {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #1C3377;
    text-decoration: none;
}
select {
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgb(240, 240, 240);
}
input {
    padding: 3px;
    border: 1px solid #cecece;
    text-align: left;
    font-size: 12px;
    background-color: rgb(240, 240, 240);
}
textarea {
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
    font-size: 12px;
    background-color: rgb(240, 240, 240);
}
button {
    padding: 0.2em 1em;
    border: 1px solid rgb(102, 102, 102);
    height: 2em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 0em;
    cursor: pointer;
    background-image: url("images/buttonBg.gif");
}
table {
    -ms-word-break: break-all;
    -ms-word-wrap: break-word;
}

.ReadOnlyYes {
    border: 0px currentColor;
}
.ReadOnlyNo {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.ErrInfo {
    padding: 10px;
    border: 3px double rgb(255, 102, 102);
    text-align: left;
    color: red;
    background-color: rgb(240, 240, 240);
}
.footer {
   margin-left:20px;
}

.list-head {
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: #cecece;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    border-collapse: collapse;
    border-spacing: 0em;
    background-color: rgb(240, 240, 240);
}
.list-head td {
    text-align: center;
    line-height: 1.4;
    font-size: 1em;
    vertical-align: middle;
}
.list-data {
    border: 1px solid rgb(206, 206, 206);
    font-size: 12px;
    margin-left: 20px;
    border-collapse: collapse;
    border-spacing: 0em;
    background-color: rgb(240, 240, 240);
}
.list-tr {
    background-color: #eaeaea;
}
.list-data td {
    padding: 0.5em 0em;
    line-height: 1;
    font-size: 1em;
    vertical-align: middle;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: #cecece;
}
.tb-head {
    border: 0px solid rgb(102, 102, 102);
    text-align: center;
    color: #184552;
    line-height: 26px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    background-image: url(images/buttonBg.gif);
    background-repeat: repeat-x;
}
.tb-data {
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0em;
}
.tb-data td {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding: 0.5em;
    color: rgb(51, 102, 102);
    line-height: 1;
    font-size: 1em;
}
.tb-foot {
    padding: 5px;
    text-align: center;
    background-color: #f5f5f5;
}
